@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "roboto";
    font-style: normal;
}
header {
    background-color: #129799;
}
p{
    display: flexbox;
    justify-content:space-around;
}